<div class="ui-grid-c asset-details">
	<div class="ui-block-a asset-details">
		<label id="asset-alloc-lbl-1a" class="ui-grid-c currentfund">{{FundName}}</label>
	</div>

	<div class="ui-block-b asset-details">
		<label id="asset-alloc-lbl-2a" class="ui-grid-c current-aloc-val">{{AllocationPercentage}}%</label>
	</div>

	<div class="ui-block-c asset-details">
		<label id="asset-alloc-lbl-3a" class="ui-grid-c current-fund-val">{{AllocationValue}}</label>
	</div>

	<div class="ui-block-d asset-details">
		<label id="asset-alloc-lbl-4a" class="ui-grid-c annual-rtn-val">{{GainPercentage}}%</label>
	</div>
</div>