<a id="id_dashboard_home" href="#dashboard" data-role="button" data-icon="db-home" class="ui-state-persist" data-iconpos="none">{{HomeLabel}}</a>			
<a id="id_dashboard_products" href="#" data-role="button" data-icon="db-products" class="ui-state-persist" data-iconpos="none">{{ProductsLabel}}</a>
<a id="id_dashboard_quote" href="#quote" data-role="button" data-icon="db-quote" class="ui-state-persist" data-iconpos="none">{{QuoteLabel}}</a>
<a id="id_dashboard_claims" href="#" data-role="button" data-icon="db-claims" class="ui-state-persist" data-iconpos="none">{{ClaimsLabel}}</a>
<a id="id_dashboard_calculators" href="#" data-role="button" data-icon="db-calculators" class="ui-state-persist" data-iconpos="none">{{CalculatorsLabel}}</a>
<a id="id_dashboard_downloads" href="#downloads" data-role="button" data-icon="db-downloads" class="ui-state-persist" data-iconpos="none">{{DownloadsLabel}}</a>
<a id="id_dashboard_faq" href="#" data-role="button" data-icon="db-faq" class="ui-state-persist" data-iconpos="none">{{FAQlabel}}</a>
<a id="id_dashboard_branch" href="#" data-role="button" data-icon="db-branchlocator" class="ui-state-persist" data-iconpos="none">{{BranchLocatorLabel}}</a>
<a id="id_dashboard_findanagent" href="#" data-role="button" data-icon="db-findanagent" class="ui-state-persist" data-iconpos="none">{{FindAnAgentLabel}}</a>
<a id="id_dashboard_contactus" href="#" data-role="button" data-icon="db-contactus" class="ui-state-persist" data-iconpos="none">{{ContactUsLabel}}</a>
<a id="id_dashboard_aboutus" href="#" data-role="button" data-icon="db-aboutus" class="ui-state-persist" data-iconpos="none">{{AboutUsLabel}}</a>